</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">

    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2021 <a href="/">Control Samir</a>.</strong> Todos los derechos reservados.
</footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/js/adminlte.min.js"></script>

<% if (['tabla', 'deudores', 'servicios', 'detalle'].indexOf(tituloWeb) >= 0) { %>
    <!-- DataTables -->
    <script src="/assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    
        <% if (tituloWeb != "detalle") { %>
        <!-- page script -->
        <script>
            $(function() {
                $('#tabla_registros').DataTable({
                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false
                })
            })
        </script>

        <% } else { %>
         
            <!-- page script -->
            <script>
                $(function() {
                    $('#tabla_registros').DataTable({
                        'paging': false,
                        'lengthChange': true,
                        'searching': false,
                        'ordering': true,
                        'info': false,
                        'autoWidth': false
                    })
                })
            </script>
     
        <% } %>
    
    <% } %>

    <% if (tituloWeb == "deudores") { %>
        <script src="/assets/js/deudores/ajax_editar.js"></script>

        <% } else if (tituloWeb == "servicios") { %>
            <script src="/assets/js/servicios/ajax_editar.js"></script>
         
    <% } %>

    </body>
</html>