<div class="modal fade" id="modal-default-agregar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar deudor</h4>
            </div>
            <div class="modal-body">
                <form action="/deudores/add" autocomplete="off" method="POST">
                    <div class="box-body">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre</label>
                            <input type="text" maxlength="30" id="nombre" name="nombre" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nombre">Apellido</label>
                                <input type="text" maxlength="30" id="apellido" name="apellido" class="form-control" placeholder="Opcional">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->