<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    <%= cantidad_usuarios %> 
                </h3>

                <p>Usuarios</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="/auth" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    0
                </h3>

                <p>Deudas</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-document"></i>
            </div>
            <a href="/planes" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    0
                </h3>

                <p>Banco de planes</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-folder"></i>
            </div>
            <a href="/banco_planes" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>